anndata          0.11.3      Annotated data.
array-api-compat 1.10.0      A wrapper around NumPy and other array librari...
contourpy        1.3.1       Python library for calculating contours of 2D ...
cycler           0.12.1      Composable style cycles
fonttools        4.55.8      Tools to manipulate font files
h5py             3.12.1      Read and write HDF5 files from Python
joblib           1.4.2       Lightweight pipelining with Python functions
kiwisolver       1.4.8       A fast implementation of the Cassowary constra...
legacy-api-wrap  1.4.1       
llvmlite         0.44.0      lightweight wrapper around basic LLVM function...
matplotlib       3.10.0      Python plotting package
natsort          8.4.0       Simple yet flexible natural sorting in Python.
networkx         3.4.2       Python package for creating and manipulating g...
numba            0.61.0      compiling Python code using LLVM
numpy            1.26.4      Fundamental package for array computing in Python
packaging        24.2        Core utilities for Python packages
pandas           2.2.3       Powerful data structures for data analysis, ti...
patsy            1.0.1       A Python package for describing statistical mo...
pillow           11.1.0      Python Imaging Library (Fork)
pynndescent      0.5.13      Nearest Neighbor Descent
pyparsing        3.2.1       pyparsing module - Classes and methods to defi...
python-dateutil  2.9.0.post0 Extensions to the standard Python datetime module
pytz             2025.1      World timezone definitions, modern and historical
scanpy           1.10.4      Single-Cell Analysis in Python.
scikit-learn     1.6.1       A set of python modules for machine learning a...
scipy            1.15.1      Fundamental algorithms for scientific computin...
seaborn          0.13.2      Statistical data visualization
session-info     1.0.0       session_info outputs version information for m...
six              1.17.0      Python 2 and 3 compatibility utilities
statsmodels      0.14.4      Statistical computations and models for Python
stdlib-list      0.11.0      A list of Python Standard Libraries (2.7 throu...
threadpoolctl    3.5.0       threadpoolctl
tqdm             4.67.1      Fast, Extensible Progress Meter
tzdata           2025.1      Provider of IANA time zone data
umap-learn       0.5.7       Uniform Manifold Approximation and Projection
